@import '~/src/scss/index.scss';

.recovery-form {
    font-family: Arial, sans-serif;

    &__error {
        font-family: Arial, sans-serif;

        color: $error !important;
        text-align: center;
    }

    &__success {
        font-family: Arial, sans-serif;
        color: $success !important;
        text-align: center;
    }
}

.modalBodyRecovery {
    margin-bottom: 20px;
}

.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    width: 500px;
    height: 260px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalRecovery {
    
    background: white;
    color: white;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
    height: 50px;
    background: white;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}

.modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.closeBtnRecoveryPass {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
}

.ui button .closeBtnRecoveryPass {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
}

.modalRecovery .closeBtnRecoveryPass:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }


.deleteBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #ff3e4e;
    transition: all 0.25s ease;
}

.deleteBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: #ff3e4e;
}

.cancelBtn {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #fcfcfc;
    transition: all 0.25s ease;
}

.cancelBtn:hover {
    box-shadow: none;
    transform: none;
    background: whitesmoke;
}